# dependencies
node_modules/

# next.js
.next/
out/
dist/
build/

# turbo
.turbo/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
.env
.env*.local

# editor
.vscode/
.idea/
